
header{

    text-align: center;
    max-width: 100%

}
h1{
	color : red;
	font-family: Garamond;
	font-size: 24px;
	text-align: center;
}
li {
	font-family: Futura;
}
body{
background-color:blue;
text-align: center;
}
table{

    margin: auto;
}
table img{
	width:300px;
	height:200px;
}

table, td {
	border: 1px #70b8ff solid;
}
div{
    height: 50px;
    width: 120px;
    border-color: #6495ED;
    background-color: #BCD2EE;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}
a{
    text-decoration: none;
    font-family: Verdana;
}

